<!DOCTYPE html>
<html>
<head>
  <title>Add Employee</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h1>Add Employee</h1>

  <form action="/add" method="POST" class="form">
    <input name="name" placeholder="Employee Name" required>
    <input name="department" placeholder="Department" required>
    <input name="salary" type="number" placeholder="Salary" required>

    <button class="btn">Add Employee</button>
  </form>
</div>

</body>
</html>
