body { font-family: Segoe UI; background:#f4f6f8; }
.container{ width:85%; margin:auto; }

.cards{ display:flex; flex-wrap:wrap; gap:15px; margin:20px 0;}
.card{
  flex:1 1 150px;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.header{ display:flex; justify-content:space-between; margin:20px 0; }
input{ padding:10px; width:250px; border-radius:6px; border:1px solid #ccc;}
.btn{ background:#2ecc71; color:white; padding:10px 20px; text-decoration:none; border-radius:6px;}

table{ width:100%; border-collapse:collapse; background:white; }
th{ background:#42515f; color:white; padding:12px;}
td{ padding:12px; text-align:center; border-bottom:1px solid #eee;}

.badge{ background:#e8f5e9; padding:5px 10px; border-radius:20px; color:#2ecc71;}
.edit{ color:#3498db; font-size:18px; margin-right:10px;}
.delete{ color:#e74c3c; font-size:18px;}
